.container.new-portfolio {
  height:75vh;
  overflow-y: scroll;
}

.new-portfolio-overview {
  position: fixed;
  width:100%;
  background: white;
}

table.new-portfolio {
  margin-top:150px;
}


table.new-portfolio input {
  height:1rem;
  padding: 0;
  margin-bottom:0;
  width:100px;
}

table.new-portfolio td {
  padding: 5px;
}
