.new-portfolio-data {
  height:65vh;
  overflow-y: scroll;
}


.new-portfolio-data table {
  margin-bottom: 5px;
}


.new-portfolio-data table input {
  height:1rem;
  padding: 0;
  margin-bottom:0;
  width:100px;
  text-align: center;
  appearance: none;
}

.new-portfolio-data table td {
  padding: 5px;
}
