.inter-portfoli-nav {
}

.portfolio-content {
  height:68vh;
  width: 100%;
  overflow-y: scroll;
}

.portfolio-content > div {
  display:none;
}

.portfolio-content > div.active {
  display:block;
}

.preloader-wrapper {
  margin: auto;
  margin-top: 30vh;
}

.portfolio-section .container {
  width:85%;
}

#inter-portfolio-nav {
  width:120px;
}

