.portfolio-section {
  margin-top:5px;
}

.portfolio-content {
  height:72vh;
  width: 100%;
  overflow-y: scroll;
}

.portfolio-content > div {
  display:none;
}

.portfolio-content > div.active {
  display:block;
}

.preloader-wrapper {
  margin: auto;
  margin-top: 30vh;
}
/*
.portfolio-section {
  width:85%;
  margin:auto;
}*/

.container{
  width: 90% !important;
}

#inter-portfolio-nav {
  width:300px;
}

#portfolio-holdings-chart {
  height: 130px;
}

#portfolio-overview-chart, #sector-overview-chart, #portfolio-trades-chart {
  height: 350px;
}

tbody input[name^="ticker"]{
  margin: auto;
  border-bottom: none;
}

.all-stocks-checkout{
  min-height: 300px;
  text-align: center;
  display: block;
  margin: auto;
  width:300px;
}

.all-stocks-checkout > div {
  width:25%; 
  display: inline-block;
}

.new-portfolio-top {
  margin-bottom: 0;
}

.new-portfolio-top > div:first-child {
  text-align: center;
}

.new-portfolio-top > div > a > i {
  margin-top:10px;
}

.new-portfolio-top input {
  margin-bottom: 0;
}


#all-stocks-tab tbody .stock-ticker{
  width: 75px;
}

#all-stocks-tab tbody .trade-quantity{
  width: 25px;
}

#all-stocks-tab tbody .sub-total {
  min-width: 100px;
}

#analysis-tab.stock-sector {
  display: none;
}

table.return-comparison td:nth-child(1) {
  font-weight:bold;
}

table.return-comparison th:nth-child(n+2), table.return-comparison td:nth-child(n+2) {
  text-align: center;
}

table.holdings-comparison th:nth-child(n+2), table.holdings-comparison td:nth-child(n+2) {
  text-align: center;
}