.portfolio-section {
  margin-top:5px;
}

.inter-portfoli-nav {
}

.portfolio-content {
  height:72vh;
  width: 100%;
  overflow-y: scroll;
}

.portfolio-content > div {
  display:none;
}

.portfolio-content > div.active {
  display:block;
}

.preloader-wrapper {
  margin: auto;
  margin-top: 30vh;
}

.portfolio-section .container {
  width:85%;
}

#inter-portfolio-nav {
  width:120px;
}


.portfolio-content-container{
  position:relative;
  overflow: hidden;
}

.intra-portfolio-area .portfolio-footer{
  height:60px;
  width:100%;
  background: grey;
}

#portfolio-holdings-chart {
  height: 130px;
}

#portfolio-overview-chart {
  height: 350px;
}