div.stock-side-bar {
  overflow:hidden;
}

div.stock-bar-data {
  display: none;
}

.stock-side-bar .container {
  width: 90%;
  line-height: 10px;
  font-size:10px;
}

.stock-side-bar .stock-quote-area {
  height:72vh;
  overflow-y: scroll;
}

@media (max-width: 600px) {
  div.stock-side-bar {
    display: none;
  }

