<script id="stock-quote-hbs" type='text/x-handlebar-template' >
  <div class="stock-quote">
  	<div class="row">
	    <div class="col m12 l4 teal-text">
	    	<strong>{{stock.ticker}}</strong>
	    </div> 
	    <div class="col l4">
	    	${{stock.price}}
	    </div> 
	    <div class="col l12">
    		<small><i>{{stock.name}}</i></small>
	    </div>
    </div>
  </div>
</script>