html {
  min-width: 900px;
}

nav .nav-wrapper {
  padding-left: 10px;
  padding-right:10px;
}

.head-text-blur-light {
  text-shadow: 0.01em 0.01em 0.5em white;
}

.head-text-blur-dark {
  text-shadow: 0.01em 0.01em 0.5em black, -0.01em -0.01em 0.5em black, 0.1em 0.1em 0.05em black;
}

.title-holder {
  margin-top: 150px;
}

.title-holder h1 {
  font-weight: bold;
}

.title-holder h2 {
  font-weight: 400;
}

#preloader {
  display:none;
}

#first-image-landing {
  max-width: 155%;
  display: block; 
  transform: translate3d(-50%, 224px, 0px);
}

#second-image-landing {
  max-width: 170%;
  display: block; 
  transform: translate3d(-50%, 250px, 0px);
}

#third-image-landing {
  max-width: 150%;
  display: block; 
  transform: translate3d(-50%, 200px, 0px);
}

.parallax-container {
  min-height: 300px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.smaller-banner {
  min-height: 450px;
}

#index-banner {
  min-height: 750px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin-top: 0px;
  text-align: justify;
  text-justify: inter-word;
/*  position: absolute;
  height: 400px;*/
}

footer.page-footer .footer-copyright {
  display: flex;
  align-items: center;
  background-color: rgb(44, 44, 44);
/*  width: 100%;
  position: relative;
  bottom: 0px;*/
}

footer.page-footer .container {
  min-height: 370px;
}

.about-us-blurb ~ a {
  margin:auto;
  margin-top:5px;
  width:150px;
  display: block;
}

.welcome-message:hover {
  cursor:default;
  background-color:inherit;
}

blockquote{
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #ffffff; 
}