.portfolio-section {
  margin-top:5px;
}

.portfolio-content {
  height:72vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.portfolio-content > div {
  display:none;
}

.portfolio-content > div.active {
  display:block;
}

.preloader-wrapper {
  margin: auto;
  margin-top: 30vh;
}

.container{
  width: 90% !important;
}

#inter-portfolio-nav {
  width:300px;
}

#portfolio-holdings-chart {
  height: 130px;
}

#sector-breakdown-chart {
  height: 250px;
}

#portfolio-overview-chart, #sector-overview-chart, #portfolio-trades-chart {
  height: 350px;
}

tbody input[name^="ticker"]{
  margin: auto;
  border-bottom: none;
}

.all-stocks-checkout{
  min-height: 300px;
  text-align: center;
  display: block;
  margin: auto;
  width:300px;
}

.all-stocks-checkout > div {
  width:25%; 
  display: inline-block;
}

.new-portfolio-top {
  margin-bottom: 0;
}

.new-portfolio-top > div:first-child {
  text-align: center;
}

.new-portfolio-top > div > a > i {
  margin-top:10px;
}

.new-portfolio-top input {
  margin-bottom: 0;
}


#all-stocks-tab tbody .stock-ticker{
  width: 75px;
}

#all-stocks-tab tbody .trade-quantity{
  width: 25px;
}

#all-stocks-tab tbody .sub-total {
  min-width: 100px;
}

#analysis-tab.stock-sector {
  display: none;
}

table.return-comparison td:nth-child(1) {
  font-weight:bold;
}

table.return-comparison th:nth-child(n+2), table.return-comparison td:nth-child(n+2) {
  text-align: center;
}

table.holdings-comparison th:nth-child(n+2), table.holdings-comparison td:nth-child(n+2) {
  text-align: center;
}

#analysis-tab form .select-wrapper input.select-dropdown {
  font-size: 1.2rem;
  margin-left: 2%;
  margin-right: 2%;
  width:96%;
}

#analysis-tab .input-field {
  padding:0;
}

#analysis-tab table th:nth-child(1), #analysis-tab table th:nth-child(n+3)  {
  width:17.5%;
}

#analysis-tab table th:nth-child(n+3), 
#analysis-tab table td:nth-child(n+3),
#analysis-tab table td.trade-quantity input {
  text-align: center;
}

#analysis-tab table td.trade-quantity input {
  margin-left:0.5rem;
  margin-right:0.5rem;
}

#comparison-tab table.return-comparison td {
  width:25%;
}

#comparison-tab table.holdings-comparison tbody td:nth-child(n+2) {
  width: 12.5%;
}

#comparison-tab table.holdings-comparison tbody td:nth-child(6) {
  width: 25%;
}

#comparison-tab table.return-comparison th:nth-child(2),
#comparison-tab table.return-comparison td:nth-child(2) {
  background-color: #e0f2f1;
}

#comparison-tab table.returns-comparison thead tr,
#comparison-tab table.holdings-comparison thead tr:first-child {
  border-top-color:none;
}

#comparison-tab table.holdings-comparison thead tr:first-child {
  border-bottom:none;
}

#comparison-tab table.holdings-comparison thead tr:first-child th:nth-child(2),
#comparison-tab table.holdings-comparison thead tr:nth-child(2) th:nth-child(n+2):nth-child(-n+3),
#comparison-tab table.holdings-comparison tbody td:nth-child(n+2):nth-child(-n+3) {
  background-color: #e0f2f1;
}

#sector-overview-chart, #portfolio-overview-chart {
  width:100%;
}
#sector-overview-chart {
  margin-bottom:75px;
}